.image_profil {
    /* Settings d'image de profil*/
    padding: 50px;
    /*Dimensions des images*/
    height: 600px;
    width: 600px;
    /*Met un cercle autour des images*/
    border-radius: 50%;
    /*Permet de crop les images aux dimensions*/
    object-fit: cover;
    border: solid;
    color: #f9f7f7;
}

.section_image {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
}

.image_education {
    /* Settings d'image de profil*/
    padding: 50px;
    /*Met un cercle autour des images*/
    border-radius: 50%;
    /*Dimensions des images*/
    height: 400px;
    width: 400px;
    /*Permet de crop les images aux dimensions*/
    object-fit: fill;
    border: solid;
    color: #f9f7f7;
}

.image_realisation {
    flex: 300px;
}

.image_realisation img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding: 50px;
    border-style: solid;
    border-color: #f9f7f7;
    /* width: 100%; */
}

.image_realisation {
    text-align: center;
    padding: 1em;
}





@media screen and (max-width: 720px) {

    .image_profil {
        /* Settings d'image de profil*/
        /*Dimensions des images*/
        height: 450px;
        width: 450px;
    }

    .image_realisation {
        flex-direction: column;
    }

    .image_education {
        height: 250px;
        width: 250px;
    }
}